:root {
  --primary-color: #120323;
  --secondary-color: #97bf04;
  --accent-color: #d9043d;
  --footer-padding: 35px;
  --header-padding: 30px;
  --figure-margin: 30px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: var(--primary-color);
  padding: var(--header-padding);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--secondary-color);
  margin-left: 15px;
}

h2 {
  color: var(--primary-color);
}
h3 {
  padding-top: 10px;
}

#container {
  display: flex;
  width: 100%;
  margin: 30px;
}

figure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: var (--figure-margin);
}

figure img {
  border: 5px solid var(--accent-color);
  min-width: 300px;
}

figcaption {
  margin-left: 20px;
}

figcaption p {
  padding-top: 10px;
}

aside {
  background-color: var(--secondary-color);
  flex: 0 0 22%;
  padding: 10px 20px;
  margin-left: 50px;
}
aside p {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

footer {
  background-color: var(--accent-color);
  color: #ffffff;
  text-align: center;
  padding: var(--footer-padding);
}

/* SCREENS LESS THAN 768PX */
@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding: 10px;
  }
  header img {
    width: 18%;
  }
  h1 {
    font-size: larger;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  #container {
    flex-direction: column;
    margin: 0;
  }
  main {
    display: flex;
    align-items: center;
  }
  figure {
    flex-direction: column;
    align-items: center;
    margin: 20px 10px;
  }

  figure img {
    display: block;
    width: 95%;
  }
  h2 {
    font-size: medium;
    padding-top: 10px;
  }

  figcaption {
    margin: 0 20px;
  }
  figcaption p {
    font-size: small;
  }

  aside {
    width: 100%;
    margin: 0 0 10px;
    font-size: small;
  }
  aside p {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  footer {
    width: 100%;
    font-size: small;
  }
}

/* SCREENS LESS THAN 1000px */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  #container {
    margin: 0;
  }

  figure {
    margin: var(--figure-margin);
  }

  #container {
    flex-direction: column;
  }

  aside {
    font-size: medium;
    margin: 0 0 10px;
  }
}
